h2 {
    font-size: 1.2em;
}

.post_grid {
    height: 400px;
}

.post_item {
    lost-waffle: 1 / 2;

    .image, .right {
        lost-column: 1 / 2;
        box-sizing: border-box;
    }
    .image {
        background: blue;
        display: block;
        height: 100%;
    }

    .right {

        height: 100%;
    }

    a.title {
        color: black;
        font-size: 1.1em;
        padding-bottom: 10px;
        font-weight: bold;

        &:hover {
            color: blue;
        }
    }

    .description {
        color: #2D2D2D;
        margin-top: 10px;
    }

    .user {
        lost-align: bottom-left flex;
    }

    .author {
        color: #5A2BF2;
    }

}